body {

	font-family: 'Montserrat', sans-serif;	
	margin:0;
	padding:0;
		background-color: #333333;
   
}

.fa.fa-caret-square-o-down {
	font-size: 100px;
	color: white;
	 display: table;
    margin: 0 auto;
    padding-bottom: 30px;

}

.selection {
	 display: table;
    margin: 0 auto;
    font-size: 40px;
}



.black-canvas {
	background-color: #333333;
	
}

.heading {
	/*opacity: 0.8;*/
width: 100%;
padding-bottom: 10px;
 background-image: url('../images/skydark.jpg') ;

}

.heading-content {
	
		padding-top:40px;
 background:rgba(98, 243, 170,0.6);
}


.heading-content h1 {

	color: #eceaac;
	text-align: center;
	font-family: 'Pacifico', cursive;
	text-shadow: black 3px 4px 10px;
	font-size: 100px;
}

.nav {

	 background:rgba(242, 99, 99,0.8);
	height:300px;
	padding-top: 80px;
	display: none;

}

.main {

	background-color: #333333;
 	padding-top: 40px;
	position: relative;
	bottom:390px;

}

.chapter-display {
	padding-top: 30px;
	color:white;
	text-align: center;
	

}

.book {
	text-align: center;
}

.select-book {
	font-size: 60px;
}


.row {

  max-width: 1000px;
  min-width:300px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

}

.second-row {
	text-align: center;

}

label {
	color:#e6e6e6;
	font-size: 50px;
}



.chapter li {
	display: inline;
	margin-right: 10px;
	border:1px solid;
	border-radius:4px;
	padding:2px;
}


 .chapter, .verse {

	display: inline;

}

.version {
	display:block;
	text-align: center;

}

.version label {

	font-size: 60px;
}

h1 {
	font-size: 100px;
}


 label {
 	font-size: 60px;
 }

.book select, .version select{
	width: 500px;
}

select {
	display: inline;
	width: 60px;
	font-size: 50px;
	color: black;

}

option {
		color: black;
}



.chapter-display p {
	font-size: 50px;
	font-family: 'Open Sans Condensed', sans-serif;

}